 @model List<WebViewContact.Models.Domain.Contact>
@{
}


<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Get All Contacts</h1>
    </div>
</div>


<div class="container py-5">
    @if (Model != null && Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Address</th>
                    <th>PhoneNumber</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var contact in Model)
                {
                    <tr>
                        <td>@contact.Id</td>
                        <td>@contact.FirstName</td>
                        <td>@contact.LastName</td>
                        <td>@contact.Address</td>
                        <td>@contact.PhoneNumber</td>
                        <td>
                            <a asp-area="" asp-controller="AdminUser"
                            asp-action="Update"
                            asp-route-id="@contact.Id">EDIT</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No Contacts Found!</p>
    }
</div>